@import "vars.scss";
@import "fonts.scss";

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  color: $mainFontColor;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFont;
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 88px 14px;
}
h2.title {
  font-size: 70px;
  color: $succesColor;
  text-align: center;
}
.hide-text {
  min-height: 0 !important;
  max-height: 0 !important;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.header {
  width: 100%;
  position: fixed;
  padding: 25px 0;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  .container {
    padding: 0 14px;
  }
  .row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  &.header_bg {
    background: $neutralColor;
    .telephone__num {
      color: $mainFontColor !important;
    }
    .menu-burger__icon {
      .line {
        background: $mainFontColor !important;
      }
    }
  }

  .menu-burger {
    &__icon {
      position: relative;
      cursor: pointer;
      width: 50px;
      height: 34px;
      .line {
        display: block;
        position: absolute;
        width: 50px;
        height: 2px;
        background: #fff;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: -webkit-transform 0.2s ease;
        -o-transition: transform 0.2s ease;
        transition: transform 0.2s ease;
        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
        &:nth-child(1) {
          top: 10px;
        }
        &:nth-child(2) {
          top: 24px;
        }
      }
      &.active {
        .line {
          &:nth-child(1) {
            top: 50%;
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
          }
          &:nth-child(2) {
            top: 50%;
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
        }
      }
    }
  }
  .navbar {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .address {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 56px;
    }
    .contact:nth-child(1) {
      margin-right: 42px;
    }
    .contact:nth-child(2) {
      margin-right: 28px;
    }
  }
}
.social-icon {
  width: 34px;
  height: 34px;
}
.telephone {
  display: inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  img {
    margin-right: 19px;
  }
  &__num {
    font-family: $succesFont;
    font-size: 24px;
    color: $neutralColor;
    text-decoration: none;
    font-style: initial;
  }
}
.first-block {
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.winner-btn {
  cursor: pointer;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 412px;
  height: 68px;
  margin-top: 120px;
  font-size: 19px;
  letter-spacing: $mainLetterSpacing;
  color: $neutralColor;
  text-transform: uppercase;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: $mainBorderRadius;
  background: $succesColor;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transition: -webkit-box-shadow 0.07s ease-in-out;
  transition: -webkit-box-shadow 0.07s ease-in-out;
  -o-transition: box-shadow 0.07s ease-in-out;
  transition: box-shadow 0.07s ease-in-out;
  transition: box-shadow 0.07s ease-in-out, -webkit-box-shadow 0.07s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
  &:hover {
    opacity: 0.88;
  }
  &:active {
    -webkit-box-shadow: 0 0 10px 3px inset rgba(10, 10, 10, 0.2);
            box-shadow: 0 0 10px 3px inset rgba(10, 10, 10, 0.2);
  }
}
.nav-menu {
  position: absolute;
  z-index: 2 !important;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  width: 100%;
  height: 0;
  left: 0;
  top: 100%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  overflow: hidden;
  -webkit-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  &.active {
    height: 100vh;
  }
  .item {
    a {
      font-family: $succesFont;
      font-size: 50px;
      color: $mainFontColor;
    }
    &:not(:first-child) {
      margin-top: 37px;
    }
  }
  .social-container {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 96px;
  }
  .telephone {
    display: none;
  }
}
.list-of-winners {
  margin-top: 108px;
  .title {
    font-size: 90px;
    text-transform: uppercase;
    color: $neutralColor;
    margin: 0;
  }
  .subtitle {
    font-family: "Museo-Sans-Cyrl-300";
    font-size: 50px;
    color: $neutralColor;
    text-transform: lowercase;
    margin-top: 14px;
    span {
      color: $succesColor;
    }
  }
}
.winners {
  margin-top: 65px;
  .winner {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    &__img {
      display: inline-flex;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .honor {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 70px;
        height: 70px;
      }
      .nation {
        width: 22px;
        height: 22px;
      }
    }
    &__name {
      font-family: $succesFont;
      margin-left: 52px;
      font-size: 24px;
      color: $neutralColor;
    }
    .first {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: $succesColor;
      width: 300px;
      height: 50px;
      border-radius: $mainBorderRadius;
      font-size: 36px;
    }
  }
}
.winners-for-mobile {
  display: none;
  .container {
    padding-top: 13px;
    padding-bottom: 33px;
  }
  .row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .winner-btn {
    margin: 0;
    width: 300px;
    height: 68px;
    font-size: 16px;
  }
  .winners {
    .winner {
      .first {
        font-size: 20px;
        color: $neutralColor;
      }
      &__name {
        font-size: 14px;
        color: $mainFontColor;
      }
    }
  }
}
.block-two {
  .slider-block {
    .slider {
      position: relative;
      margin-top: 60px;
      overflow: hidden;
      &__frame {
        position: absolute;
        z-index: 5;
        width: 30px;
        height: 100%;
        background: $succesColor;
        &::after,
        &::before {
          position: absolute;
          content: "";
          width: 52px;
          height: 30px;
          background: $succesColor;
        }
        &::after {
          top: 0;
        }
        &::before {
          bottom: 0;
        }
        &:nth-child(1) {
          left: 0;
        }
        &:nth-child(2) {
          right: 0;
          &::after,
          &::before {
            right: 0;
          }
        }
      }
      &__contents {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        position: relative;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        -webkit-transition: -webkit-transform 2s;
        transition: -webkit-transform 2s;
        -o-transition: transform 2s;
        transition: transform 2s;
        transition: transform 2s, -webkit-transform 2s;
      }
      &__content {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 18px 118px 0 118px;
        .article {
          &-text {
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            h5 {
              font-family: $mainFont !important;
              font-size: 16px;
              text-transform: lowercase;
              color: #000;
            }
            p {
              font-family: $mainFont;
              margin: 0;
              font-size: 18px;
              color: $mainFontColor;
              line-height: 29px;
            }
            .comment {
              margin-top: 31px;
              p {
                margin-top: 7px;
              }
            }
            .tag {
              margin-top: 20px;
              p {
                margin-top: 7px;
              }
            }
          }
          .first-name {
            font-size: 70px;
            color: $succesColor;
          }
          .last-name {
            font-size: 40px;
            color: #888888;
          }
          .status {
            font-family: $mainFont;
            font-size: 13px;
            color: $mainFontColor;
            letter-spacing: $mainLetterSpacing;
            text-transform: uppercase;
          }
        }
        .list {
          margin-top: 39px;
          &__item {
            position: relative;
            font-family: $mainFont;
            font-size: 18px;
            color: $mainFontColor;
            margin-left: 29px;
            &::before {
              position: absolute;
              content: "";
              width: 10px;
              height: 10px;
              background: $succesColor;
              border-radius: 4px;
              top: 6px;
              left: -29px;
            }
            &:not(:first-child) {
              margin-top: 18px;
            }
          }
        }
        .avatar {
          img {
            display: block;
            border-radius: 100px;
          }
        }
        .welsh {
          display: none;
          cursor: pointer;
          width: 156px;
          height: 40px;
          background: $neutralColor;
          border-radius: $mainBorderRadius;
          border: 1px solid #888;
          margin-top: 43px;
          font-size: 13px;
          color: #888;
          text-transform: uppercase;
          outline: none;
          letter-spacing: $mainLetterSpacing;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          &:hover {
            background: darken($neutralColor, 3%);
          }
          &:active {
            -webkit-box-shadow: 0 0 60px 3px inset rgba(136, 136, 136, 0.27);
                    box-shadow: 0 0 60px 3px inset rgba(136, 136, 136, 0.27);
          }
        }
        .slider-text {
          min-height: 0;
          max-height: 700px;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
        }
      }
      &__contoler {
        position: relative;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 63px;
        .arrow {
          cursor: pointer;
          font-size: 30px;
          color: $succesColor;
          &.disable {
            color: #888;
          }
        }
        .arrow-left {
          margin-right: 50px;
        }
        .arrow-right {
          margin-left: 50px;
        }
        .num-of-page {
          font-family: $succesFont;
          font-size: 24px;
          color: $mainFontColor;
        }
      }
    }
  }
}

.three-block {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdf4f4), to(#ecf3ec));
  background: -o-linear-gradient(top, #fdf4f4 0%, #ecf3ec 100%);
  background: linear-gradient(180deg, #fdf4f4 0%, #ecf3ec 100%);
  .container {
    padding-top: 69px;
  }
  .employee-companies {
    &__years {
      display: none;
      -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 10px;
      justify-items: center;
      .year {
        cursor: pointer;
        width: 63px;
        height: 40px;
        background: #fff;
        border: 1px solid #888;
        color: #888;
        margin-top: 26px;
        font-size: 13px;
        outline: none;
        border-radius: $mainBorderRadius;
        letter-spacing: $mainLetterSpacing;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        &.active {
          background: $succesColor;
          color: #fff;
          border: 1px solid $succesColor;
        }
        &:nth-child(9) {
          -ms-grid-column: 1;
          -ms-grid-column-span: 4;
          grid-column: 1 / 5;
        }
      }
    }
    &__years > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1
    }
    &__years > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3
    }
    &__years > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 5
    }
    &__years > *:nth-child(4) {
      -ms-grid-row: 1;
      -ms-grid-column: 7
    }
    &__years > *:nth-child(5) {
      -ms-grid-row: 3;
      -ms-grid-column: 1
    }
    &__years > *:nth-child(6) {
      -ms-grid-row: 3;
      -ms-grid-column: 3
    }
    &__years > *:nth-child(7) {
      -ms-grid-row: 3;
      -ms-grid-column: 5
    }
    &__years > *:nth-child(8) {
      -ms-grid-row: 3;
      -ms-grid-column: 7
    }
    &__years > *:nth-child(9) {
      -ms-grid-row: 5;
      -ms-grid-column: 1
    }
    &__years > *:nth-child(10) {
      -ms-grid-row: 5;
      -ms-grid-column: 3
    }
    &__years > *:nth-child(11) {
      -ms-grid-row: 5;
      -ms-grid-column: 5
    }
    &__years > *:nth-child(12) {
      -ms-grid-row: 5;
      -ms-grid-column: 7
    }
    &__wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-rows: 1fr 56px 1fr;
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      grid-gap: 56px 32px;
      margin-top: 61px;
      .company {
        position: relative;
        width: 275px;
        height: auto;
        margin: 0;
        img {
          width: 275px;
        }
        .about-company {
          h6 {
            font-family: $mainFont;
            font-size: 18px;
            margin-top: 26px;
          }
          p {
            font-size: 18px;
            margin-top: 10px;
            line-height: 160%;
          }
        }
      }
    }
    &__wrapper > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1
    }
    &__wrapper > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3
    }
    &__wrapper > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 5
    }
    &__wrapper > *:nth-child(4) {
      -ms-grid-row: 1;
      -ms-grid-column: 7
    }
    &__wrapper > *:nth-child(5) {
      -ms-grid-row: 3;
      -ms-grid-column: 1
    }
    &__wrapper > *:nth-child(6) {
      -ms-grid-row: 3;
      -ms-grid-column: 3
    }
    &__wrapper > *:nth-child(7) {
      -ms-grid-row: 3;
      -ms-grid-column: 5
    }
    &__wrapper > *:nth-child(8) {
      -ms-grid-row: 3;
      -ms-grid-column: 7
    }
  }
}
.footer {
  .container {
    padding: 22px 14px 19px 14px;
  }
  .row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

//media
@media only screen and (max-width: $desktopWidth) {
  .three-block {
    .employee-companies__wrapper {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
    }
    .employee-companies__wrapper > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }
    .employee-companies__wrapper > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    .employee-companies__wrapper > *:nth-child(4) {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(5) {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
    }
    .employee-companies__wrapper > *:nth-child(6) {
      -ms-grid-row: 2;
      -ms-grid-column: 3;
    }
    .employee-companies__wrapper > *:nth-child(7) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(8) {
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }
    .employee-companies__wrapper > *:nth-child(9) {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .block-two {
    .slider-block {
      .slider {
        &__content {
          img {
            width: 400px;
          }
          padding: 18px 65px 0 65px;
        }
      }
    }
  }
}
@media only screen and (max-width: $smDesktopWidth) {
  .block-two {
    .slider-block {
      .slider {
        &__content {
          img {
            width: 330px;
          }
          padding: 18px 80px 0 80px;
        }
      }
    }
  }
  .three-block {
    .employee-companies__wrapper {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
    }
    .employee-companies__wrapper > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }
    .employee-companies__wrapper > *:nth-child(3) {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(4) {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
    }
    .employee-companies__wrapper > *:nth-child(5) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(6) {
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }
  }
}

@media only screen and (max-width: $tableWidth) {
  h2.title {
    font-size: 40px;
  }
  .first-block {
    .container {
      padding-bottom: 12px;
    }
    .title {
      font-size: 50px;
    }
    .subtitle {
      font-size: 20px;
    }
    .winners {
      display: none;
    }
    .winner-btn {
      display: none;
    }
  }
  .header {
    .address {
      .telephone {
        display: none;
      }
      .social {
        display: none;
      }
    }
  }
  .winners-for-mobile {
    display: block;
    .winners {
      .winner {
        .first {
          width: 174px;
          height: 34px;
        }
        &__name {
          margin-left: 14px;
        }
      }
    }
  }
  .nav-menu {
    .menu-items {
      margin-top: 20px;
    }
    .item {
      a {
        font-size: 20px;
      }
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
    .social-container {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      margin-top: 68px;
    }
    .telephone {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
    }
  }
  .three-block {
    .employee-companies {
      &__years {
        display: -ms-grid;
        display: grid;
      }
      &__wrapper {
        grid-row-gap: 21px;
      }
    }
  }
  .block-two {
    .container {
      padding-top: 33px;
    }
    .slider-block {
      .slider {
        &__frame {
          display: none;
        }
        &__content {
          display: flex;
          display: -webkit-box;
          display: -ms-flexbox;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
              -ms-flex-direction: column-reverse;
                  flex-direction: column-reverse;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0;
          .article {
            .name {
              margin-top: 23px;
              text-align: center;
            }
            &-text {
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
            }
          }
          img {
            width: 330px;
          }
          .welsh {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 609px) {
  .three-block {
    .employee-companies__wrapper {
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
    }
    .employee-companies__wrapper > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(2) {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(3) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(4) {
      -ms-grid-row: 4;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(5) {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(6) {
      -ms-grid-row: 6;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(7) {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
    }
    .employee-companies__wrapper > *:nth-child(8) {
      -ms-grid-row: 8;
      -ms-grid-column: 1;
    }
  }
}
@media only screen and (max-width: $phoneWidth) {
  .block-two {
    .slider-block {
      .slider {
        img {
          width: 128px;
        }
        &__content {
          .article {
            .first-name {
              font-size: 40px;
              margin-top: 27px;
            }
            .last-name {
              font-size: 30px;
              margin-top: 14px;
            }
            .status {
              margin-top: 23px;
            }
          }
        }
      }
    }
  }
}
