// Font
$mainFont                : 'Museo-Sans-Cyrl-300', sans-serif;
$succesFont              : 'Museo-Sans-Cyrl-700', sans-serif;
$titleFont               : 'Bebas-Neue', sans-serif;

// Size
$mainFontColor           : #303030;
$succesColor             : #FF3754;
$neutralColor            : #fff;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
$mainBorderRadius        : 4px;
$mainLetterSpacing       : 0.155em;    

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;